{
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "ignorePatterns": [
    "**/*.css",
    "**/*.scss",
    "**/*.vsix",
    "**/*.sh",
    "**/*.svg",
    "**/*.yml",
    "**/*.html",
    "**/*.json"
  ],
  "rules": {
    "no-console": "off",
    "prefer-const": 1,
    "no-void": "off"
  }
}
