// 按钮loading动画
.ani-roll {
  transform-origin: center;
  animation-name: tg-roll;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes tg-roll {

  0%,
  5% {
    transform: rotate(0) translate(0)
  }

  15% {
    transform: rotate(45deg) translate(-10%, -10%)
  }

  20%,
  30% {
    transform: rotate(90deg) translate(0)
  }

  37.5% {
    transform: rotate(135deg) translate(-10%, 10%)
  }

  45%,
  55% {
    transform: rotate(180deg) translate(0)
  }

  62.5% {
    transform: rotate(225deg) translate(10%, 10%)
  }

  70%,
  80% {
    transform: rotate(270deg) translate(0)
  }

  87.5% {
    transform: rotate(315deg) translate(10%, -10%)
  }

  95%,
  to {
    transform: rotate(360deg) translate(0)
  }
}

// 直播中信号灯
.blinking-dash {
  animation: blink 2s infinite linear;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

// 赔率变化箭头动画
.arrow-odd {
  animation-duration: .8s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards
}

.odd-rise {
  animation-name: flashingUp;
}

.odd-decrease {
  animation-name: flashingDown;
}

@keyframes flashingDown {

  0%,
  20% {
    transform: translateY(-20%);
    opacity: 1;
  }

  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes flashingUp {

  0%,
  20% {
    transform: translateY(20%);
    opacity: 1;
  }

  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}


/**
  * 大小菜单转换动画
  */
/*** start ***/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-fade-enter-active {
  animation: slide-fade-in 0.25s ease-in-out;
}

.slide-fade-leave-active {
  // animation: slide-fade-in 0.25s linear;
  opacity: 0;
}

@keyframes slide-fade-in {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.smallslide-fade-left-enter-active {
  opacity: 0;
  margin-left: var(--tg-sidebar-width-sm-n);
  animation: smallslide-fade-left-in 0.25s ease-in-out;
}
.smallslide-fade-left-leave-active {
  animation: smallslide-fade-left-out 0.25s ease-in-out;
  opacity: 1;
  margin-left: 0;
  position: fixed;
}

@keyframes smallslide-fade-left-in {
  0% {
    opacity: 0;
    margin-left: var(--tg-sidebar-width-sm-n);
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes smallslide-fade-left-out {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  100% {
    margin-left: var(--tg-sidebar-width-lg-n);
    opacity: 0;
  }
}

.bigslide-fade-left-enter-active {
  animation: bigslide-fade-left-in 0.25s ease-in-out;
}
.bigslide-fade-left-leave-active {
  animation: bigslide-fade-left-out 0.25s ease-in-out;
  margin-left: 0;
  opacity: 1;
}
@keyframes bigslide-fade-left-out {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  100% {
    margin-left: var(--tg-sidebar-width-lg-n);
    opacity: 0;
  }
}
@keyframes bigslide-fade-left-in {
  0% {
    margin-left: var(--tg-sidebar-width-lg-n);
  }
  100% {
    margin-left: 0;
  }
}
/*** end ***/
