.arrow-odd{
  animation-duration: .8s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards
}
.odd-changed-up{
  animation-name:flashingUp;
}
.odd-changed-down{
  animation-name:flashingDown;
}

@keyframes flashingDown {

  0%,
  20% {
    transform: translateY(-20%);
    opacity: 1;
  }

  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
@keyframes flashingUp {

  0%,
  20% {
    transform: translateY(20%);
    opacity: 1;
  }

  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}
