// 体育下注按钮loading动画
.ani-scaleAndRotate {
  animation-name: tg-scaleAndRotate ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.87,-.41,.19,1.44);
}
@keyframes tg-scaleAndRotate {
  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.3) rotate(-10deg);
  }

  75% {
    transform: scale(1.3) rotate(10deg);
  }
}

// 按钮loading动画
.ani-roll {
  transform-origin: center;
  animation-name: tg-roll;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@keyframes tg-roll {

  0%,
  5% {
    transform: rotate(0) translate(0)
  }

  15% {
    transform: rotate(45deg) translate(-10%, -10%)
  }

  20%,
  30% {
    transform: rotate(90deg) translate(0)
  }

  37.5% {
    transform: rotate(135deg) translate(-10%, 10%)
  }

  45%,
  55% {
    transform: rotate(180deg) translate(0)
  }

  62.5% {
    transform: rotate(225deg) translate(10%, 10%)
  }

  70%,
  80% {
    transform: rotate(270deg) translate(0)
  }

  87.5% {
    transform: rotate(315deg) translate(10%, -10%)
  }

  95%,
  to {
    transform: rotate(360deg) translate(0)
  }
}

// 直播中信号灯
.blinking-dash {
  animation: blink 2s infinite linear;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

// 娱乐城在线人数信号灯
.blinking-dash2 {
  animation: blink2 1s infinite ease-out;
}

@keyframes blink2 {
  0% {
    box-shadow: 0 0 #00e70166;
  }

  30% {
    box-shadow: 0 0 2px 2px #00e70166;
  }

  70% {
    box-shadow: 0 0 2px 2px #00e70166;
  }

  100% {
    box-shadow: 0 0 #00e70166;
  }
}


// 赔率变化箭头动画
.arrow-odds {
  animation-duration: .8s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards
}

.odds-up {
  animation-name: flashingUp;
}

.odds-down {
  animation-name: flashingDown;
}

@keyframes flashingDown {

  0%,
  20% {
    transform: translateY(-20%);
    opacity: 1;
  }

  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes flashingUp {

  0%,
  20% {
    transform: translateY(20%);
    opacity: 1;
  }

  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}


/**
  * 大小菜单转换动画
  */
/*** start ***/

.menu-fade-enter-active,
.menu-fade-leave-active {
  transition: all 0.2s ease-in-out;
}

.menu-fade-enter-from,
.menu-fade-leave-to {
  opacity: 0;
  transform: translateX(-6px);
}

.slide-fade-enter-active {
  animation: slide-fade-in 0.4s ease-in-out;
}

.slide-fade-leave-active {
  opacity: 0;
}

@keyframes slide-fade-in {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.smallslide-fade-left-enter-active {
  opacity: 0;
  margin-left: var(--tg-sidebar-width-sm-n);
  animation: smallslide-fade-left-in 0.1s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}

.smallslide-fade-left-leave-active {
  margin-left: var(--tg-sidebar-width-sm-n);
  opacity: 1;
}

@keyframes smallslide-fade-left-in {
  0% {
    opacity: 0;
    margin-left: var(--tg-sidebar-width-sm-n);
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes smallslide-fade-left-out {
  0% {
    opacity: 1;
    margin-left: 0;
  }

  25% {
    margin-left: var(--tg-sidebar-width-sm-n);
  }

  100% {
    opacity: 0;
    margin-left: var(--tg-sidebar-width-sm-n);
  }
}

.bigslide-fade-left-enter-active {
  animation: bigslide-fade-left-in 0.2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 1;
  margin-left: -180px;
}

.bigslide-fade-left-leave-active {
  animation: bigslide-fade-left-out 0.2s ease-in-out;
  animation-fill-mode: forwards;
  margin-left: var(--tg-sidebar-width-sm-n);
  opacity: 1;
}

@keyframes bigslide-fade-left-out {
  0% {
    margin-left: 0;
    opacity: 1;
  }

  100% {
    margin-left: var(--tg-sidebar-width-lg-n);
    opacity: 0;
  }
}

@keyframes bigslide-fade-left-in {
  0% {
    margin-left: -180px;
    opacity: 1;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

// 移动端大菜单动画
.bigslide-fade-top-enter-active {
  animation: 250ms linear 0ms 1 normal both running bigslide-fade-top-in;
  animation-fill-mode: forwards;
}

.bigslide-fade-top-leave-active {
  animation: 250ms linear 0ms 1 normal both running bigslide-fade-top-out;
  animation-fill-mode: forwards;
}

@keyframes bigslide-fade-top-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes bigslide-fade-top-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.casino-sport-fade-top-enter-active {
  animation: 250ms linear 0ms 1 normal both running casino-sport-fade-top-in;
  animation-fill-mode: forwards;
}

.casino-sport-fade-top-leave-active {
  animation: 250ms linear 0ms 1 normal both running casino-sport-fade-top-out;
  animation-fill-mode: forwards;
}

@keyframes casino-sport-fade-top-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes casino-sport-fade-top-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*** end ***/

/* tab切换动画 */
.tab-fade-enter-active,
.tab-fade-leave-active {
  transition: all 0.2s ease-in-out;
}

.tab-fade-enter-from,
.tab-fade-leave-to {
  opacity: 0;
  transform: translateY(5px);
}

// 聊天室在线人数绿点
@keyframes OnlineFlash {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
}

// home layout 切换路由动画
.home-slide-fade-enter-active {
  animation: 300ms linear 0ms 1 normal both running home-slide-fade-enter;
  animation-fill-mode: forwards;
}

.home-slide-fade-leave-active {
  opacity: 0;
}

@keyframes home-slide-fade-enter {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  60% {
    opacity: 0.2;
    transform: translateY(6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes wobble {
  25% {
    transform: scale(1.3)
  }

  50% {
    transform: scale(1.3) rotate(-10deg)
  }

  75% {
    transform: scale(1.3) rotate(10deg)
  }
}
