@function scalePixelValue($value, $idealViewportWidth: 1600, $min: 770px, $max: 1200px) {
  @return calc(#{$value} * (clamp(#{$min}, 100vw, #{$max}) / #{$idealViewportWidth}))
}

:root {
  /* 主色&辅色 */
  --tg-primary-main: #1A2C38;
  --tg-secondary-main: #2F4553;
  --tg-secondary-light: #B1BAD3;
  --tg-secondary-grey: #213743;
  --tg-secondary-dark: #0F212E;
  --tg-secondary-deepdark: #071824;
  --tg-primary-success: #1FFF20;
  --tg-primary-fail: #E91134;
  /* 点缀色 */
  --tg-sub-info: #008A01;
  --tg-sub-deepblue: #105EB5;
  --tg-sub-blue: #1f8bff;
  --tg-sub-lightblue: #72ACED;
  /* 文字颜色 */
  --tg-text-white: #FFFFFF;
  --tg-text-error: #ed4163;
  --tg-text-warn: #FF9800;
  --tg-text-green: #00E701;
  --tg-text-blue: #1475E1;
  --tg-text-lightblue: #4391e7;
  --tg-text-dark: #05080a;
  --tg-text-grey: #557086;
}

:root {
  // 字体大小
  --tg-font-size-xs: 12px;
  --tg-font-size-default: 14px;
  --tg-font-size-base: 16px;
  --tg-font-size-md: 18px;
  --tg-font-size-lg: 20px;
  --tg-font-size-xl: 24px;
  --tg-font-size-2xl: 28px;
  --tg-font-size-3xl: 32px;
  --tg-font-size-4xl: 40px;

  // 字体粗细
  --tg-font-weight-normal: 400;
  --tg-font-weight-semibold: 600;
  --tg-font-weight-bold: 700;

  // 按钮 padding size
  --tg-spacing-button-padding-horizontal-none: 0;
  --tg-spacing-button-padding-horizontal-sm: 16px;
  --tg-spacing-button-padding-horizontal-xs: 12px;
  --tg-spacing-button-padding-horizontal-md: 20px;
  --tg-spacing-button-padding-horizontal-lg: 24px;
  --tg-spacing-button-padding-horizontal-xl: 28px;
  --tg-spacing-button-padding-vertical-none: 0;
  --tg-spacing-button-padding-vertical-xs: 12px;
  --tg-spacing-button-padding-vertical-sm: 16px;
  --tg-spacing-button-padding-vertical-md: 20px;
  --tg-spacing-button-padding-vertical-lg: 24px;
  --tg-spacing-button-padding-vertical-xl: 28px;

  // 圆角
  --tg-radius-none: 0;
  --tg-radius-sm: 2px;
  --tg-radius-default: 4px;
  --tg-radius-xs: 6px;
  --tg-radius-md: 8px;
  --tg-radius-lg: 10px;
  --tg-radius-xl: 12px;
  --tg-radius-2xl: 14px;
  --tg-radius-3xl: 16px;
  --tg-radius-full: 64px;

  // 头部高度
  --tg-header-height: 60px;

  // 滚动条
  --tg-scrollbar-size: 6px;

  // 边框宽度
  --tg-border-width-none: 0;
  --tg-border-width-default: 1px;
  --tg-border-width-sm: 2px;
  --tg-border-width-md: 4px;

  // z-index
  --tg-z-index-0: 0;
  --tg-z-index-10: 10;
  --tg-z-index-20: 20;
  --tg-z-index-30: 30;
  --tg-z-index-40: 40;
  --tg-z-index-50: 50;
  --tg-z-index-top: 9999;

  // 间距
  @for $i from 1 through 50 {
    --tg-spacing-#{$i}: #{$i}px;
  }
}

html,
body {
  height: 100%;
  background-color: var(--tg-primary-main);
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scroll: touch;
  scrollbar-width: thin
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  -moz-transform: none !important;
  scrollbar-width: thin
}

.scroll-x::-webkit-scrollbar-thumb {
  border-radius: 10px
}

.scroll-y::-webkit-scrollbar-thumb,
.scroll-x::-webkit-scrollbar-thumb {
  border-radius: 10px
}

.scroll-x::-webkit-scrollbar {
  height: var(--scrollbar-size)
}

.hide-scrollbar {
  scrollbar-width: none
}

.hide-scrollbar::-webkit-scrollbar {
  display: none
}

.scroll-y::-webkit-scrollbar {
  width: var(--scrollbar-size)
}

@media screen and (min-width: 768px) {
  #app {
    height: 1px;
    min-height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0
  }
}