.persuade-container {
  display: flex;
  gap: 20px;
  background-color: #0f212e;
}

.persuade-container .span-container {
  display: flex;
  flex-direction: column;
}
.span {
  height: 18px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3d4e5d;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  margin-right: 5px;
}
.span span {
  color: #b1bad3;
  text-align: center;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.persuade {
  width: 80%;
  color: #b1bad3;
  font-family: PingFang SC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
