.footer-container {
  width: 1200px;
  min-width: 1100px;
  height: 63px;
  margin-top: 3px;
  background-color: #0f212e;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  justify-content: space-between;
}

.button-group-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 24px;
}
.button-group {
  background-color: transparent;
  border: none;
  /* margin-left: 20px; */
  cursor: pointer;
  padding: 0;
}

.divider {
  width: 2px;
  height: 40px;
  background-color: #2f4552;
  margin-left: -8px;
}

.footer-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-span {
  color: #b1bad3;
  font-family: PingFang SC;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}

.footer-span:hover {
  color: white;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  width: 118px;
  height: 240px;
  z-index: 1;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.dropdown-content .triangle {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
}

.dropdown-content .contents:first-child {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content .contents:first-child button {
  background: transparent;
  border: none;
  padding: 0;
}

.dropdown-content .contents:not(:first-child) {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content .contents span {
  color: #2f4553;
  font-family: PingFang SC;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.active {
  color: #1475e1 !important;
}

.unactivecontent:hover {
  background: transparent !important;
}

.activecontent:hover {
  background: #b1bad3 !important;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin-left: 6px;
  background: #d5dceb;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #2f4553;
  cursor: pointer;
}

input[type="range"]::after {
  content: "";
  position: absolute;
  width: var(--width, 43%);
  max-width: 86%;
  height: 6px;
  border-radius: 3px;
  background: #1475e1;
  pointer-events: none;
}

@media screen and (max-width: 1100px) {
  .footer-container {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background-color: #0f212e;
    border-radius: 0px 0px 8px 8px;
    margin-top: 0;
    min-width: 0;
  }

  .footer-image {
    display: none;
  }
}
